<div class="side-bar">
  <div class="side-bar-header">
    <div class="logo">
      <a href="/">
        <img src="/assets/images/logo.svg" />
      </a>
    </div>
    <div class="icon-toggle-menu">
      <img src="/assets/images/icon-menu-full.svg" />
    </div>
  </div>
  <div class="side-bar-menu">
    <ul class="nav-bar">
      <li class="nav-bar-item">
        <a href="#">
          <div class="icon-menu">
            <img src="/assets/images/Fill.svg" />
          </div>
          <span>Home</span>
        </a>
      </li>
      <li class="nav-bar-item">
        <a href="#">
          <div class="icon-menu">
            <img src="/assets/images/Fill.svg" />
          </div>
          <span>Wallet</span>
        </a>
      </li>
      <li class="nav-bar-item">
        <a href="#">
          <div class="icon-menu">
            <img src="/assets/images/Fill.svg" />
          </div>
          <span>Booking</span>
        </a>
      </li>
      <li class="nav-bar-item">
        <a href="#">
          <div class="icon-menu">
            <img src="/assets/images/Fill.svg" />
          </div>
          <span>Business</span>
        </a>
      </li>
      <li class="nav-bar-item">
        <a href="#">
          <div class="icon-menu">
            <img src="/assets/images/Fill.svg" />
          </div>
          <span>Explore</span>
        </a>
      </li>
      <li class="nav-bar-item">
        <a href="#">
          <div class="icon-menu">
            <img src="/assets/images/Fill.svg" />
          </div>
          <span>Support</span>
        </a>
      </li>
    </ul>
  </div>
</div>
