<div class="wapper-header">
  <div class="dropdown">
    <div class="icon">
      <img src="/assets/images/Shape.svg" alt="hihi" />
    </div>
    <div class="name">
      <span>Become a Partner</span>
    </div>
    <div class="icon-down">
      <img src="/assets/images/Down.svg" alt="">
    </div>
  </div>
  <div class="dropdown">
    <div class="icon">
      <img src="/assets/images/Image.svg" alt="hihi" />
    </div>
    <div class="name">
      <span>Mansurul Haque</span>
    </div>
    <div class="icon-down">
      <img src="/assets/images/Down.svg" alt="">
    </div>
  </div>
</div>
