<div class="navigation">
    <a routerLink="/home" routerLinkActive="active" class="item"
        [routerLinkActiveOptions]="{exact: true}">

        <div class="icon">
            <img src="/assets/images/Fill.svg" />
        </div>
        <div class="name">
            <span>FLIGHTS</span>
        </div>

    </a>
    <a routerLink="/hotel" routerLinkActive="active" class="item"
        [routerLinkActiveOptions]="{exact: true}">
        <div class="icon">
            <img src="/assets/images/Fill.svg" />
        </div>
        <div class="name">
            <span>HOTEL</span>
        </div>
    </a>
    <a routerLink="/villa" routerLinkActive="active" class="item"
        [routerLinkActiveOptions]="{exact: true}">

        <div class="icon">
            <img src="/assets/images/Fill.svg" />
        </div>
        <div class="name">
            <span>VILLA</span>
        </div>

    </a>
    <a routerLink="/taxi" routerLinkActive="active" class="item"
        [routerLinkActiveOptions]="{exact: true}">

        <div class="icon">
            <img src="/assets/images/Fill.svg" />
        </div>
        <div class="name">
            <span>TAXI</span>
        </div>
    </a>
</div>
